* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  background: #ccc;
}

article {
  width: 210mm;
  height: 297mm;
  margin: 20px auto;
  position: relative;

  border-top: 1mm solid brown;
    border-bottom: 1mm solid brown;
    background-color: white;

    background-image: linear-gradient(
      rgba(0, 0, 0, 0.5) 0%,   
      rgba(0, 0, 0, 0) 15%,    
      rgba(0, 0, 0, 0) 75%,    
      rgba(0, 0, 0, 0.5) 100%
    );
}

address {
  position: absolute;
  bottom: 8mm;
  right: 20mm;
}

h1 {
  background: no-repeat url(photos/logo.png);
  filter: drop-shadow(5px 5px 5px #000);
  position: absolute;
  top: 12mm;
  left: 20mm;
  width: 128px;
  height: 128px;
  font-size: 20px;
  letter-spacing: 1px;
  text-align: center;
  padding: 44px 0;
  color: white;
  text-shadow: 1px 1px 1px black;
  
}




.top-image{
    position: absolute;
    top: 0;
    width: 100%;
}

.bottom-image{
    bottom: 0;
    position: absolute;
    width: 100%;
}