

.all{
    padding: 10px;
    background-color: rgb(212, 244, 255);
    display:grid;
    grid-template-rows: fr fr fr;
    gap: 15px;
    padding: 10px;
    text-align: center;
    font-family: 'Arial Narrow Bold', sans-serif;

}

p {
 background-color: rgb(255, 224, 212);
 padding: 10px;
 font-family: 'Times New Roman', Times, serif;
}

fieldset {
    width: fit-content;
    margin: auto;
}