body {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.decription {
    grid-row: 1;
    grid-column: 2;
    text-align: center;
}

.trash {
    grid-row: 2;
    grid-column: 1;
    align-self: center;
    text-align: center;
    font-size: 50px;
}

.center {
    grid-row: 2;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.newShape {
    grid-row: 2;
    grid-column: 3;
    align-self: center;
    justify-self: center;
}

.box {
    background-image: url("img/web_Project1.png");
    background-size: contain;
    width: 100%;
    aspect-ratio: 1/1;
}

.title {

}

.submit {

}



.square {
    width: 100px;
    height: 100px;
    
    position: fixed;
    background-image: url("img/web_Project2.png");
    background-size: contain;
}

.square1 {
    width: 100px;
    height: 100px;
    
    position: fixed;
    background-image: url("img/web_Project3.png");
    background-size: contain;
}

.square2 {
    width: 100px;
    height: 100px;
    
    position: fixed;
    background-image: url("img/web_Project4.png");
    background-size: contain;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid grey;
    position: fixed;
}

.circle {
    width: 100px;
    height: 100px;
    background-color: grey;
    border-radius: 50%;
    position: fixed;
}