
.header .title a  {
    font-size: 300%;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: -2px;
    
}

.header ul a  {
    color: #fff;
    font-family:Verdana;
    text-decoration: none;
    display: inline;
    padding: 15px;
    margin: 5px;

}
.header a:hover{
    color: orange;
    text-decoration: none;
}

.header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.header{
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 10;
    padding: 5px;

}


.HomeBody{
padding: 0;
margin: 0;
background-image: url(images/mtn.jpg);
background-size: cover;
background-position: top;
background-attachment: fixed;
}

main{
padding: 0;
margin: 0;
}

.page{
    display: flex;
    background-color: gray;
    margin: 4%;
    height: 1000px; 
    
}


/*===========================================================================================*/


.headerP .title a  {
    font-size: 300%;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: -2px;
    
}

.headerP ul a  {
    color: black;
    font-family:Verdana;
    text-decoration: none;
    display: inline;
    padding: 15px;
    margin: 5px;

}
.headerP a:hover{
    color: orange;
    text-decoration: none;
}

.headerP ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.headerP{
    background-color: whitesmoke;
    top: 0px;
    z-index: 10;
    padding: 5px;
}


.Pbody{
    margin: 0;
padding: 0;
overflow-x: hidden;
background-color: whitesmoke;
}


.photos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 30px;
    padding: 30px;
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;

    grid-template-areas: 
        "A A A A"
        "B B C C"
        "D D C C"
        "G G E E"
        "G G F F"
        "H H H J"
        "H H H K"
        "H H H L"
        "I I I I ";
}

.img {
    width: 100%;
    height: auto;
    display: block;
}

.img:hover{
    transition: transform 0.5s ease;
    transform: scale(1.02);
}

#A { grid-area: A; }
#B { grid-area: B; }
#C { grid-area: C; }
#D { grid-area: D; }
#E { grid-area: E; }
#F { grid-area: F; }
#G { grid-area: G; }
#H { grid-area: H; }
#I { grid-area: I; }
#J { grid-area: J; }
#K { grid-area: K; }
#L { grid-area: L; }


