
.header .title a  {
    font-size: 300%;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: -2px;
    
}

.header ul a  {
    color: #fff;
    font-family:Verdana;
    text-decoration: none;
    display: inline;
    padding: 15px;
    margin: 5px;

}
.header a:hover{
    color: orange;
    text-decoration: none;
}

.header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.header{
    background-color: black;
    position:sticky;
    top: 0px;
    z-index: 10;
    padding: 5px;
}


.HomeBody{
padding: 0;
margin: 0;
background-image: url(images/mtn.jpg);
background-size: cover;
background-position: top;
background-attachment: fixed;
}

main{

}

.one{
    display: flex;
    background-color: gray;
    margin: 4%;
    height: 1000px; 
    
}


/*===========================================================================================*/

.headerP{
    background-color: whitesmoke;
    position:sticky;
    top: 0px;
    z-index: 10;
    padding: 5px;
}


.headerP .title a  {
    font-size: 300%;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: -2px;
    
}

.headerP ul a  {
    font-family:Verdana;
    text-decoration: none;
    display: inline;
    padding: 15px;
    margin: 5px;

}
.headePr a:hover{
    color: blue;
    text-decoration: none;
}

.headerP ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.headerP{
    background-color: black;
    position:sticky;
    top: 0px;
    z-index: 10;
    padding: 5px;
}