
.header .title a  {
    font-size: 300%;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: -2px;
    
}

.header ul a  {
    color: #fff;
    font-family:Verdana;
    text-decoration: none;
    display: inline;
    padding: 15px;
    margin: 5px;

}
.header a:hover{
    color: orange;
    text-decoration: none;
}

.header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.header{
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 10;
    padding: 5px;

}


.HomeBody{
padding: 0;
margin: 0;
background-image: url(images/mtn.jpg);
background-size: cover;
background-position: top;
background-attachment: fixed;
}

main{
padding: 0;
margin: 0;
}

.page{
    background-color: rgb(220, 220, 220);          /*rgb(159, 184, 209); /*rgb(147, 168, 189)*/
    margin: 4%;
    border-radius: 5px;
    overflow: hidden;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border-bottom: 1px dotted black;
    padding-bottom: 15px;
}

h2{
    font-family:Arial, Helvetica, sans-serif;
    padding: 10px;
    scroll-margin-top: 150px;
}

.p1{
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    padding: 10px;
}

article{
    padding: 30px;
}
 .Meyer{
    border-radius: 5%;
    width: 50%;
    height: auto;
    float: right;
    margin-left: 20px;
    margin-bottom: 15px;
}

/*===========================================================================================*/


.headerP .title a  {
    font-size: 300%;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: -2px;
    
}

.headerP ul a  {
    color: black;
    font-family:Verdana;
    text-decoration: none;
    display: inline;
    padding: 15px;
    margin: 5px;

}
.headerP a:hover{
    color: orange;
    text-decoration: none;
}

.headerP ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.headerP{
    background-color: whitesmoke;
    top: 0px;
    z-index: 10;
    padding: 5px;
}


.Pbody{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: whitesmoke;
}


.photos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 30px;
    padding: 30px;
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;

    grid-template-areas: 
        "A A A A"
        "B B C C"
        "D D C C"
        "G G E E"
        "G G F F"
        "H H H J"
        "H H H K"
        "H H H L"
        "I I I I ";
}

.img {
    width: 100%;
    height: auto;
    display: block;
}

.img:hover{
    transition: transform 0.5s ease;
    transform: scale(1.02);
}

#A { grid-area: A; }
#B { grid-area: B; }
#C { grid-area: C; }
#D { grid-area: D; }
#E { grid-area: E; }
#F { grid-area: F; }
#G { grid-area: G; }
#H { grid-area: H; }
#I { grid-area: I; }
#J { grid-area: J; }
#K { grid-area: K; }
#L { grid-area: L; }


/*===========================================================================================*/

.extra{
    width: 55%;
    margin: 0 auto;
    border: 3px solid black;
    border-radius: 10px;
    background-color: RGB(189, 168, 147);
    min-width: 550px;
}

.extra ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.extra a:hover{
    color: RGB(0, 21, 200);
}

.extra ul a{
    color: black;
    font-weight: bolder;
    font-family:Verdana;
    text-decoration: none;
    display: inline;
    padding: 15px;
    margin: 5px;
}

.page2{
    margin:0;
    background-color: black;
    box-shadow: 0px 15px 20px 10px black, 0px -15px 20px 10px black;
}


/*--------resume stuff--------------------------------------------------*/
#resume {
    color: white;
    font-size: 150%;
    text-align: center;
    border-bottom: 2px solid white;
    width: fit-content;
    margin: 0 auto;
    padding-bottom: 5px;
    scroll-margin-top: 100px;
}

.resumePhoto{
    padding: 20px;
    width: 70%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.resumeP{
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    padding: 10px;
    text-align: center;
}
.resumeP a{
    color: lightblue;;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
}
.resumeP a:hover{
    color: orange; 
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
}
/*----------------------------------------------------------*/


.linkedin{
    font-family: Helvetica, sans-serif;
    font-weight: bolder;
    text-decoration: none;
    color: darkblue;
}
.linkedin:hover{
    color:brown;
}

strong {
    font-size: 105%;
}

.p2{
    font-family: Helvetica, sans-serif;
    padding: 20px;
}

.headshot {
    width: 200px;
    height: auto;
    border-radius: 5%;
    float: right;
    margin-left: 30px;
}



@media screen and (max-width: 660px) {
    .extra {
        width: 65%;
        min-width: unset;
    }

    .extra ul {
        flex-direction: column;
        align-items: center;
    }

    .headshot {
    width: 100px;
    height: auto;
    border-radius: 5%;
    
    margin-left: 30px;
    }

    .extra ul a{
        padding: 10px;
        display: block;
    }

    .photos {
        gap: 10px;
        padding: 10px;
    }

    .header .title a  {
        font-size: 200%;
        font-family: 'Times New Roman', Times, serif;
        
    }

    .headerP .title a {
        font-size: 200%;
        font-family: 'Times New Roman', Times, serif;
    }
}